body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Navigation styling */
nav {
  background-color: #600000;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  border: 2px solid black;
  padding: 10px 10px;
  border-radius: 25px;
}

/* Hover effect for navigation links */
nav a:hover {
  text-decoration: underline;
  color: #600000;
  background-color: #d8cece;
}

/* Logo styling */
header img {
  width: 70px;
  height: auto;
}

/* Header styling */
header {
  background-color: #600000;
  color: white;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

header h1 {
  flex-grow: 1;
}

/* Back Button styling */
.back-arrow {
  background-color: #600000;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.back-arrow svg {
  margin-right: 5px;
}

.back-arrow:hover {
  font-weight: bold;
}

/*Home page buttons*/
.start-game,
.create-quiz,
.contact {
  background-color: #600000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.start-game:hover,
.create-quiz:hover,
.contact:hover {
  font-weight: bold;
}

.create-quiz-game {
  border: none;
  border-radius: 100%;
  width: 25px;
  height: 35px;
  cursor: pointer;
  background-color: #600000;
  color: white;
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*contact page*/
.contact-form {
  background-color: #d8cece;
  max-width: 100%;
  margin: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
}

.contact-form p {
  display: block;
  padding-bottom: 15px;
  font-weight: bold;
}

.contact-lapel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-input {
  max-width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-submit {
  background-color: rgb(0, 183, 0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-submit:hover {
  background-color: #0a6000;
  font-weight: bold;
}

.message {
  background-color: #d8cece;
  max-width: 100%;
  margin: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

/* QuizGame */
h2 {
  font-size: 24px;
  font-weight: bold;
}

.quiz-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.quiz-item {
  margin: 10px;
  background-color: #d8cece;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}

.quiz-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.quiz-link:hover {
  color: #0153ab;
}

/* QuizPage */
.quiz-title {
  font-size: 28px;
}

.question-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #d8cece;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
}

.options-list {
  list-style-type: none;
  padding: 0;
}

.option-item {
  margin-bottom: 10px;
}

.option-label {
  cursor: pointer;
}

.score{
  font-size: 18px;
  margin-top: 50px;
}

.submit-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.submit-button button {
  padding: 10px;
  background-color: #0051a8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Style the icon inside the buttons */
.submit-button button svg {
  vertical-align: middle;
  margin: 5px; 
}

.submit-button .Submit-Quiz {
  background-color: #0a6000; 
}

